@font-face {
  font-family: "cwTeXYen";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix)
      format("embedded-opentype"),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format("woff"),
    url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf)
      format("truetype");
}
* {
  font-family: "cwTeXYen", serif;
}
#welcome-section {
  height: 80vh;
  width: 100%;
}
.dynamic-txts {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}
.line_1,
.line_2,
.line_3 {
  white-space: nowrap;
  overflow: hidden;
  margin: 0.5rem;
  font-size: 1.4rem;
}
.line_1 {
  animation: line 5s steps(26, end) 1s 1 normal both;
}
.line_2 {
  animation: line 5s steps(26, end) 1s 1 normal both;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.line_3 {
  animation: line 6s steps(26, end) 1s 1 normal both;
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
@keyframes line {
  0% {
    border-right: none;
    width: 0;
  }
  1% {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
  }
  99% {
    border-right: 2px solid rgba(17, 17, 17, 0.9);
    width: 26rem;
  }
  100% {
    border-right: none;
  }
}
.top {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #f8f9fa;
  border-radius: 60%;
  text-align: center;
  line-height: 50px;
  color: #212529;
  text-decoration: none;
  position: fixed;
  margin: auto;
  right: 50px;
  bottom: 50px;
}
@media (max-width: 768px) {
  .dynamic-txts {
    display: none;
  }
}
