* {
  margin: 0;
  padding: 0;
}
main {
  width: 80%;
  margin: auto;
}
#title {
  width: 80%;
  margin: 30px 0px;
  padding: 0px 10%;
}
h1 {
  margin: 40px 0px;
  text-align: center;
  font-family: "Lobster", cursive;
}
figure {
  display: block;
}
#img-div {
  margin: 20px auto;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#img-caption {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px 10px;
}
#tribute-info {
  width: 70%;
  margin: auto;
}
h2 {
  text-align: center;
  margin: 30px 0px;
  font-family: "Lobster", cursive;
}
ul li {
  margin: 10px;
  line-height: 30px;
  text-align: start;
}
#wikipedia {
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  margin: 50px;
  font-size: 20px;
  font-weight: bolder;
}
